* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.bgContainer {
  background-color: #1e293b;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  color: #f0bb03;
  font-family: 'Bree Serif';
  font-size: 48px;
}

.para {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 24px;
  margin: 15px;
}
.btn {
  border: none;
  background-color: #ffffff;
  color: #1e293b;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}
